.footer-main-div{
    width: 100%;
    height: auto;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
}
.footer-main-div-1{
    width: 50%;
    /* border: 1px solid rgb(122, 82, 82); */
    display: flex;
    flex-direction: row;
}
.footer-main-div-2{
    width: 50%;
    display: flex;
    /* border: 1px solid rgb(93, 199, 44); */
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer-main-div-1-img{
    padding: 5%;
    width: 200px;
    height: 200px;
}
.footer-main-div-1-img:hover{
   cursor: pointer;  
}
.footer-main-div-1-img-txt{
    padding-top: 10%;
    font-size: 40px;
    font-family: Cursive, Arial, sans-serif;
}
.footer-main-div-1-img-txt:hover{
   color: red;
   cursor: pointer;
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.footer-main-div-2-txt{
    font-size: 18px;
    font-family: Cursive, Arial, sans-serif;
}
.footer-main-div-2-txt:hover{
   color: red;
   cursor: pointer;
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.footer-main-div-2-txt-1{
    padding-top: 30px;
}
.footer-main-div-btm{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}