


.header-mani-div{
    background-color: rgba(255, 255, 255, 0.377) !important;
    color: black !important;
}
.header-logo{
    width: 170px;
    width: 60px;
}
.header-mani-div-right{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}
.header-mani-div-right-1{
    border: 1px solid black;
    margin: 10px;
    border-radius: 55%;
}
.header-mani-div-icon{
    padding: 5px;
}
.header-logo-txt{

    font-family: Cursive, Arial, sans-serif;
}
.onHover:hover{
    color: white !important;
    background-color: red;
   cursor: pointer;
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.icon-p{
    padding: 5px;
}